/* To remove default black outline of mui button */
button:focus 
{
     outline: none!important;
}
a
{
     text-decoration: none;
     color: white!important;
}

a:hover
{
     text-decoration: none;
}