nav
{
    background-color: #0d7d61!important;
    max-width: 100vw;
}
nav img
{
    width: 75px!important
}
nav a
{
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Tilt Neon", sans-serif!important;
}

nav h6
{
    font-family: "Tilt Neon", sans-serif!important;
}

 /* ? media quries */
        /* xs */
        @media (min-width:320px) and  (max-width:479.98px) {
            
            nav
            {
                height: 56px;
            }
            nav img
            {
                width: 58px!important;
            }
            nav .MuiToolbar-root
            {
                justify-content: space-between;
            }

        }

        @media (min-width: 480px) and (max-width: 575.98px) {

            nav
            {
                height: 56px;
            }
            nav img
            {
                width: 58px!important;
            }
            nav .MuiToolbar-root
            {
                justify-content: space-between;
            }
        }

        @media (min-width: 576px) and (max-width:767.98px) {

            
        }

        
        @media (min-width: 768px) and (max-width:991.98px ) {

           
        }

