.fishes
{
    /* margin: 50px 100px; */
    padding: 50px;
}

.fishes h6
{
    margin-top: -20px;
}

.fishes .fish-cards
{
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}
.fishes .fish-cards .card
{
    box-shadow: 2px 2px  60px 10px rgba(70, 69, 69, 0.842)!important;
}